{% include "back/base.html.twig" %}

{% block inside %}
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Settings</h4>
                <p class="card-description">
                    Change your account information
                </p>
                {{ form_start(form, {'attr': {'id': 'change-profile-form'}}) }}
                <div class="form-group">
                    {{ form_label(form.nom, 'Nom') }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.prenom, 'Prénom') }}
                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.email, 'Email') }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.telephone, 'Téléphone') }}
                    {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.adresse, 'Adresse') }}
                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.image, 'Photo') }}
                    {{ form_widget(form.image) }}
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <a href="{{ path('app_admin_profile') }}" class="btn btn-light">Cancel</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% include "back/base2.html.twig" %}